{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                <div id="user-info">

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="tel" name="phone" placeholder="Phone..">
                        </label>
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="address" placeholder="Address..">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="city" placeholder="City..">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="state" placeholder="State..">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="zip" placeholder="Zip..">
                        </label>
                    </div>

                    <div class="form-field">
                        <label>
                            <input required class="form-control" type="text" name="country" placeholder="Country..">
                        </label>
                    </div>


                </div>

                <hr>

                <input type="submit" id="form-button" class="btn btn-success btn-block" value="Continue"></form>
        </div>

        <br>
        <div class="box-element hidden " id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make Payment</button>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2">
                    <img src="{{item.product.imageURL}}" alt="" class="row-image">
                </div>
                <div style="flex:2">
                    <p>{{item.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>{{item.product.price|floatformat:2}} RON</p>
                </div>
                <div style="flex:1">
                    <p>x{{item.quantity}}</p>
                </div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Total: {{order.get_cart_total}} RON</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    let shipping = '{{order.shipping}}'
    let total = '{{order.get_cart_total}}'
    if (shipping == 'False')
    {
        document.getElementById('shipping-info').innerHTML = ''
    }
    if (shipping == 'False' && user != 'AnonymousUser'){
    // Hide entire form if the user is logged in and shipping is false
        document.getElementById('form-wrapper').classList.add('hidden');
        // Show payment info if logged-in user wants to buy an item that does
        // not require shipping
        document.getElementById('payment-info').classList.remove('hidden');
    }

    const form = document.getElementById('form')
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log(`Form submitted...`)
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');

    })

    const submitFormData = function(){
    const userFormData= {
        'name': null,
        'email': null,
        'phone': null,
        'total': total,
    }

    const shippingInfo= {
        'address': null,
        'city': null,
        'state': null,
        'zip': null,
        'country': null
    }

    if (shipping != "False"){
        shippingInfo.address = form.address.value;
        shippingInfo.city = form.city.value;
        shippingInfo.state = form.state.value;
        shippingInfo.zip = form.zip.value;
        shippingInfo.country = form.country.value;
    }

    if (user!= "AnonymousUser"){
        userFormData.name = form.name.value;
        userFormData.email = form.email.value;
        userFormData.phone = form.phone.value;
    }

    const url = '/process_order/'
    fetch(url,{
    method: 'POST',
    headers: {'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken},
    body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})})
    .then(response => response.json())
    .then((data) => {
        console.log('Success:', data);
        alert('Your order has been submitted!');
        window.location.href = '{% url 'store' %}';

        })

}



</script>
{% endblock content %}
